/* custom styles for Orbit2 Bootstrap theme*/
* {
	color:#879296;
	font-family:$slabo;
}
/*Header Styles*/
.skip-link {
	display:none;
}
#page.container-fluid {
	border-top:$blue-base solid 1px;
		header {
		}
	}
.cover {
    position: fixed;
	background:#fff;
    top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:1;
		.load {
			width: 36px;
			height:36px;
			position:absolute;
			top:50%;
			left:50%;
				.spinner {
					border-left: 3px solid rgba(26,187,156,.15);
					border-right: 3px solid rgba(26,187,156,.15);
					border-top: 3px solid rgba(26,187,156,.15);
					border-bottom: 3px solid #fff;	
					}
				.spinner {
				  	height: 36px;
				  	width: 36px;
				  	position: relative;
				  	-webkit-animation: spin .8s infinite linear;
				  	-moz-animation: spin .8s infinite linear;
				  	-o-animation: spin .8s infinite linear;
				  	animation: spin .8s infinite linear;
				  	border-left: 3px solid rgba(26,187,156,.15);
				 	border-right: 3px solid rgba(26,187,156,.15);
				  	border-bottom: 3px solid rgba(26,187,156,.15);
				  	border-top: 3px solid rgba(26,187,156,.8);
				  	border-radius: 100%;
				}
			}
		}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



/*Navigation*/
.navbar {
	&.navbar-fixed-top {
		border-top:$blue-base solid 1px;
<<<<<<< HEAD
		background: rgba(254, 254, 254, 0.5); 
=======
>>>>>>> MW NEW Bits
	}
	.navbar-toggle {
		position: absolute;
		right:0;
		top:25px;
		background-color:$blue-light;
		.icon-bar {
			background-image: url('assets/images/icon-bar.png')
		}
	}
	.navbar-inner {
		.navbar-text {
			margin-left: 0;
		}
	}
	margin-bottom:0;
	ul.navbar-nav {
			li {
				text-align: center;
			a{
				color:$blue-base;
				border-bottom:#fff solid 1px;
				text-transform: uppercase !important;
					&:hover {
						@include transition(all, 0.5s, ease-in-out);
						color:$blue-dark;
						background-color:#fff;
						border-bottom:$blue-dark solid 1px;
						border-width:1px;
					}	
				}
			}
		@media (min-width: $screen-sm-min) {
			li {
				padding-top: 8%;
				a{
					&:hover{
						border-width:2px;
					}
				}
			}
		}
	}
}
.cover-div {
	position: fixed;
	top:0;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
/*Front page CSS*/
.front-page {
	.slider {
		}
		.about {
			padding:25% 0;
			h2 {
				text-transform: uppercase;
				letter-spacing: 12px;
				padding-bottom:10%;
			}
		}
	.thumbnail-wrapper {
<<<<<<< HEAD
		.container {
			padding-top: 17.5%;
			padding-bottom: 17.5%;
		}
=======
		padding:25% 0;
		height: 100%;
		width: 100%;
		top:0;
		left:0;
>>>>>>> MW NEW Bits
		.th-holder {
			border-right:1px solid $olive-opacity;
			min-height: 200px;
			&:last-child {
				border-right:none;
			}
			&.thumbnail1, &.thumbnail2, &.thumbnail3 {
				display: none;
				opacity: 0;
			}
			&.thumbnail1 {
				left:-200px;
			}
			&.thumbnail2 {
				top:-200px;
			}
			&.thumbnail3 {
				right:-200px;
			}
		}
		.thumbnail {
			h3 {
				color:$blue-base;
			}
			text-align: center;
			border:none;
				.btn-default {
					opacity: 0.5;
					background-color: $blue-base;
					color:#fff;
					&:hover {
						@include transition(all, 0.5s, ease-in-out);
						opacity: 1;
					}
				}
				img {
					opacity: 0.5;
					&:hover {
						@include transition(all, 0.5s, ease-in-out);
						opacity: 1;
					}
				}
			}
		}
		.callout.parallax {
<<<<<<< HEAD
=======
			padding: 25% 0;
			display: none;
>>>>>>> MW NEW Bits
			text-align: center;
			background: url(assets/images/apple_desktop-wallpaper-1920x1080.jpg) fixed no-repeat center top;
			background-size:cover;
			.container {
				padding-top: 17.5%;
				padding-bottom: 17.5%;
			}
			h2,p {
				color: #fff;
				text-shadow: 1px 1px 1px #000;
			}
			p {
				font-size: 1.25em;
			}
			.btn-lg {
				background-color: $blue-base;
				color:#fff;
				&:hover {
					@include transition(all, 0.5s, ease-in-out);
					background-color: $blue-dark;
				}
			}
		}
		.featurette:nth-of-type(even) {
			position:relative;
			right:200px;
			opacity: 0;
		}
		.featurette:nth-of-type(odd) {
			position:relative;
			left:200px;
			opacity: 0;
		}
		.contact {
			display:none;
			opacity: 0;
<<<<<<< HEAD
			.container {
				padding-top: 17.5%;
				padding-bottom: 17.5%;
=======
			h2 {
				text-transform: uppercase;
				letter-spacing: 12px;
				padding-bottom:10%;
>>>>>>> MW NEW Bits
			}
			form {
				font-size: 1.4em;
				input[type=text], input[type=email] {
					width: 100%;
					padding:15px 5px 15px 10px;
					border:1px solid $blue-base;
				}
				textarea {
					width:100%;
					padding:10px 0 0 10px;
					border:1px solid $blue-base;
				}
				input[type=submit] {
				  	width: 100%;
				 	height: 40px;
				  	border:1px solid $blue-base;
				  	background-color: #fff;
				  	color: $blue-base;
				  	font-size: 1.4em;
				  	&:hover {
				  		@include transition(all, 0.5s, ease-in-out);
				  		background-color: $blue-base;
				  		color:#fff;
				  	}
				}
			}
		}
		.blog {
			padding:25% 0;
			text-align: center;
			h2 {
				text-transform: uppercase;
				letter-spacing: 12px;
				padding-bottom:10%;
			}
			img {
				z-index: -1;
			}
			h1.entry-title {
				font-size: 1em;
				text-transform: uppercase;
				a {
					text-decoration:none;
				}
			}
		}
	}
/*Animation classes for front page*/
.animate {
	transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transform-style: perserve-3d;
}
.animate.thumbnail1 {
	transform: translate3d(200px, 0, -120px) rotateY(360deg);
	backface-visibility: hidden;
	opacity:1 !important;
}
.animate.thumbnail2 {
	transform: translate3d(0, 200px, 200px) rotateY(360deg);
	backface-visibility: hidden;
	opacity:1 !important;
}
.animate.thumbnail3 {
	transform: translate3d(-200px, 0, 120px) rotateY(360deg);
	backface-visibility: hidden;
	opacity:1 !important;
}
.animate.featurette:nth-of-type(even) {
	transform: translate(200px, 0);
	backface-visibility: hidden;
	opacity:1 !important;
}
.animate.featurette:nth-of-type(odd) {
	transform: translate(-200px, 0);
	backface-visibility: hidden;
	opacity:1 !important;
}
.animate.contact {
	backface-visibility: hidden;
	opacity:1 !important;
}
/*Footer styles*/
footer {
	border-top: 1px solid $blue-dark;
	background-color: $blue-base;
	background-image: url('assets/images/footer-cityscape.png');
	background-repeat: no-repeat;
	background-position: 50% 100%;
	.row.social {
		border-bottom: 1px dotted $blue-dark;
		.lead {
			font-size: 3em;
			color:$blue-dark;
			float: left;
			padding-right: 20px;
			margin-bottom: 0;
		}
	}
	ul.social-header {
		li {
			float:left;
			font-size: 3em;
			padding:0 15px;
			a {	
				i {
					color:$blue-dark;
					&:hover {
						@include transition(all, 0.5s, ease-in-out);
						color:$blue-dark;
					}
				}
			}
		}
	}
	.row {
		padding:10px 0;
		.widget, .textwidget, ul, li, a {
			color:$blue-dark;
		}
		li {
			list-style: none;
		}
	}
	.site-info, .site-info a, .site-info span {
		padding:5px 0;
		text-align: center;
		color:$blue-base;
		background-color: $blue-dark;
		&:hover {
			color:$blue-dark;
		}
	}
}
