/* custom styles for Orbit2 Bootstrap theme*/
* {
	color:#879296;
}
/*Header Styles*/
.skip-link {
	display:none;
}
#page.container-fluid {
	border-top:$blue-base solid 1px;
		header {
		}
	}
.cover {
    position: fixed;
	background:#fff;
    top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:100000000;
		.load {
			width: 36px;
			height:36px;
			position:absolute;
			top:50%;
			left:50%;
				.spinner {
					border-left: 3px solid rgba(26,187,156,.15);
					border-right: 3px solid rgba(26,187,156,.15);
					border-top: 3px solid rgba(26,187,156,.15);
					border-bottom: 3px solid #fff;	
					}
				.spinner {
				  	height: 36px;
				  	width: 36px;
				  	position: relative;
				  	-webkit-animation: spin .8s infinite linear;
				  	-moz-animation: spin .8s infinite linear;
				  	-o-animation: spin .8s infinite linear;
				  	animation: spin .8s infinite linear;
				  	border-left: 3px solid rgba(26,187,156,.15);
				 	border-right: 3px solid rgba(26,187,156,.15);
				  	border-bottom: 3px solid rgba(26,187,156,.15);
				  	border-top: 3px solid rgba(26,187,156,.8);
				  	border-radius: 100%;
				}
			}
		}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



/*Navigation*/
.navbar {
	&.navbar-fixed-top {
		background-color:#fff;
		opacity: 0.9;
		border-top:$blue-base solid 1px;
		display:none;
	}
	.navbar-toggle {
		position: absolute;
		right:0;
		top:25px;
		background-color:$blue-light;
		.icon-bar {
			background-image: url('assets/images/icon-bar.png')
		}
	}
	.navbar-inner {
		.navbar-text {
			margin-left: 0;
		}
	}
	margin-bottom:0;
	ul.navbar-nav {
			background-color:$blue-light;
			li {
				text-align: center;
			a{
				color:$blue-base;
				font-weight: 600;
				border-bottom:#fff solid 1px;
					&:hover {
						@include transition(all, 0.5s, ease-in-out);
						color:$blue-dark;
						background-color:#fff;
						border-bottom:$blue-dark solid 1px;
						border-width:1px;
					}	
				}
			}
		@media (min-width: $screen-sm-min) {
				background-color:#fff;
			li {
				padding-top: 8%;
				a{
					&:hover{
						border-width:2px;
					}
				}
			}
		}
	}
}

/*Front page CSS*/
.front-page {
	.slider {
		margin-bottom:20px;
		}
	.thumbnail-wrapper {
		.th-holder {
			&.thumbnail1, &.thumbnail2, &.thumbnail3 {
				display: none;
				opacity: 0;
			}
			&.thumbnail1 {
				left:-200px;
			}
			&.thumbnail2 {
				top:-200px;
			}
			&.thumbnail3 {
				right:-200px;
			}
		}
		.thumbnail {
			text-align: center;
			border:none;
				.btn-default {
					opacity: 0.5;
					background-color: $blue-base;
					color:#fff;
					&:hover {
						@include transition(all, 0.5s, ease-in-out);
						opacity: 1;
					}
				}
				img {
					opacity: 0.5;
					&:hover {
						@include transition(all, 0.5s, ease-in-out);
						opacity: 1;
					}
				}
			}
		}
		.callout.parallax {
			display: none;
			text-align: center;
			padding:100px 0;
			background: url(assets/images/cityscape-taxi.jpg) fixed no-repeat center top;
			background-size:cover;
			h2,p {
				color: #fff;
				text-shadow: 1px 1px 1px #000;
			}
			p {
				font-size: 1.25em;
			}
			.btn-lg {
				background-color: $blue-base;
				color:#fff;
				&:hover {
					@include transition(all, 0.5s, ease-in-out);
					background-color: $blue-dark;
				}
			}
		}
		.featurette:nth-of-type(even) {
			position:relative;
			right:200px;
			opacity: 0;
		}
		.featurette:nth-of-type(odd) {
			position:relative;
			left:200px;
			opacity: 0;
		}
		.contact {
			display:none;
			opacity: 0;
			form {
				font-size: 1.4em;
				input[type=text], input[type=email] {
					width: 100%;
					padding:15px 5px 15px 10px;
					border:1px solid $blue-dark;
				}
				textarea {
					width:100%;
					padding:10px 0 0 10px;
					border:1px solid $blue-dark;
				}
				input[type=submit] {
				  	width: 100%;
				 	height: 40px;
				  	border:1px solid $blue-dark;
				  	background-color: #fff;
				  	color: $blue-base;
				  	font-size: 1.4em;
				  	&:hover {
				  		@include transition(all, 0.5s, ease-in-out);
				  		background-color: $blue-dark;
				  		color:#fff;
				  	}
				}
			}
		}
	}
/*Animation classes for front page*/
.animate {
	transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transform-style: perserve-3d;
}
.thumbnail1.animate {
	transform: translate3d(200px, 0, -120px) rotateY(360deg);
	backface-visibility: hidden;
	opacity:1 !important;
}
.thumbnail2.animate {
	transform: translate3d(0, 200px, 200px) rotateY(360deg);
	backface-visibility: hidden;
	opacity:1 !important;
}
.thumbnail3.animate {
	transform: translate3d(-200px, 0, 120px) rotateY(360deg);
	backface-visibility: hidden;
	opacity:1 !important;
}
.featurette:nth-of-type(even).animate {
	transform: translate(200px, 0);
	backface-visibility: hidden;
	opacity:1 !important;
}
.featurette:nth-of-type(odd).animate {
	transform: translate(-200px, 0);
	backface-visibility: hidden;
	opacity:1 !important;
}
.contact.animate {
	backface-visibility: hidden;
	opacity:1 !important;
}
/*Footer styles*/
footer {
	border-top: 1px solid $blue-dark;
	background-color: $blue-base;
	background-image: url('assets/images/footer-cityscape.png');
	background-repeat: no-repeat;
	background-position: 50% 100%;
	.row.social {
		border-bottom: 1px dotted $blue-dark;
		.lead {
			font-size: 3em;
			color:$blue-dark;
			float: left;
			padding-right: 20px;
			margin-bottom: 0;
		}
	}
	ul.social-header {
		li {
			float:left;
			font-size: 3em;
			padding:0 15px;
			a {	
				i {
					color:$blue-dark;
					&:hover {
						@include transition(all, 0.5s, ease-in-out);
						color:$blue-dark;
					}
				}
			}
		}
	}
	.row {
		padding:10px 0;
		.widget, .textwidget, ul, li, a {
			color:$blue-dark;
		}
		li {
			list-style: none;
		}
	}
	.site-info, .site-info a, .site-info span {
		padding:5px 0;
		text-align: center;
		color:$blue-base;
		background-color: $blue-dark;
		&:hover {
			color:$blue-dark;
		}
	}
}
